.loader-wrapper {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-loader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dots-loader div {
  width: 10px;
  height: 10px;
  background: #2563eb;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dots-loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.dots-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.5;
  }
  to {
    transform: translateY(-8px);
    opacity: 1;
  }
}
