/* src/components/common/Logo.css */

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image-sm,
.logo-image-md,
.logo-image-lg {
  object-fit: contain;
}

.logo-image-sm {
  width: 32px;
  height: 32px;
}

.logo-image-md {
  width: 40px;
  height: 40px;
}

.logo-image-lg {
  width: 48px;
  height: 48px;
}

.logo-text {
  font-size: 18px;
  color: white;
  font-weight: 600;
}

